DISCORD_TOKEN=your_discord_bot_token_here
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=eu-central-1
EC2_INSTANCE_ID=your_ec2_instance_id_here
PTERO_URL=http://bagaicha.duckdns.org
PTERO_API_KEY=your_pterodactyl_api_key_here
PTERO_SERVER_ID=your_pterodactyl_server_id_here